<html>
    <head>
        {% if title %}
        <title>{{ title }} - MentorConnect</title>
        {% else %}
        <title>MentorConnect</title>
        {% endif %}
    </head>
    <body>
        <div>
            Welcome to MentorConnect Chat:
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Login</a>
            {% else %}
            <a href="{% url 'lobby' %}">Lobby</a>

            {% endif %}

        </div>
        <br>
        {% block content %}
        {% endblock %}
    </body>
</html>